@font-face {
  font-family: 'Modeseven';
  src: url('/Modeseven-L3n5.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Modeseven', sans-serif;
  color: white;
}

#root {
  margin: 0;
  background-color: black;
}
